[Unit]
Description=narcd
After=network-online.target

[Service]
User=narcd
WorkingDirectory=/opt/narcd
ExecStart=/opt/narcd/bin/narcd
Restart=on-failure
RestartSec=60s

StandardOutput=journal
StandardError=journal

ProtectSystem=full
ProtectHome=true
ProtectControlGroups=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
